<body style="background-color:#74dccc;">
</body>
<div class="mb-3">
<div class="row">
    <h1 class="berkshire-swash-regular">Nosotros</h1>
    <div class="col-4 ">
      <img src="lucas1.jpeg" width="400" height="540" alt="Exclusivos">
      
    </div>
  
    <div class="col-4 ">
        <img src="lucas2.jpeg" width="400" height="540" alt="Exclusivos">
      </div>
  
      <div class="col-4 ">
        <img src="nosotros.jpg" width="400" height="540" alt="Exclusivos">
      </div>
</div>
</div>
 <div class="mb-3">
        <div class="row">
          
          <div class="col-4 ">
            <img src="taller.jpg" width="400" height="540" alt="Exclusivos">
          </div>
          <div class="col-4 ">
            <img src="taller2.jpg" width="400" height="540" alt="Exclusivos">
          </div>
          <div class="col-4 ">
            <img src="taller 3.jpg" width="400" height="540" alt="Exclusivos">
          </div>
          
          </div>
        </div>
    
  
