
<body style="background-color:#74dccc" class="mi-componente">
</body>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      
      </div>
    <div class="col-2">
      <h1 class="nav-item" class="berkshire-swash-regular">Catálogo</h1>

    </div>

      <div class="col-7">
      
       <ul class="nav justify-content-center ">
        <li class="nav-item ">
          <a class="nav-link text-dark active" [routerLink]="['/Catálogo/Tazas']" routerLinkActive="active">Tazas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Mates']" routerLinkActive="active">Mates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Macetas']" routerLinkActive="active">Macetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Platos']" routerLinkActive="active">Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Adornos']" routerLinkActive="active">Adornos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Recipientes']" routerLinkActive="active">Recipientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Vasos']" routerLinkActive="active">Vasos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Otros']" routerLinkActive="active">Otros</a>
        </li>

      </ul>
    </div>
  </div>

