<body style="background-color:#74dccc;">
  <h1 class="berkshire-swash-regular" >Exclusivos</h1>
</body>
<div class="mb-3">
  <div class="row">
    <div class="col-4 ">
      <img src=" fondo exclusivos.jpg" width="480" height="540" alt="Exclusivos">
    </div>
    <div class="col-4 ">
      <img src=" fondo 4.jpg" width="480" height="540" alt="Exclusivos">
    </div>
    <div class="col-4 ">
      <img src=" fondo 5.jpg" width="480" height="540" alt="Exclusivos">
    </div>
  </div>
  </div>
  
<div class="mb-3">
<div class="row">
  
  <div class="col-4 ">
    <img src="provoletera.jpeg" width="480" height="540" alt="Exclusivos">
  </div>
  <div class="col-4 ">
    <img src="cucurucho.jpeg" width="480" height="540" alt="Exclusivos">
  </div>
  <div class="col-4 ">
    <img src="exclusivos3.jpeg" width="480" height="540" alt="Exclusivos">
  </div>
  
  </div>
</div>
  <div class="mb-3">
  <div class="row">
    <div class="col-4 ">
      <img src="exclusivos2.jpeg" width="480" height="540" alt="Exclusivos">
    </div>
    <div class="col-4 ">
      <img src="exclusivos4.jpg" width="480" height="540" alt="Exclusivos">
    </div>
    <div class="col-4 ">
      <img src="exclusivos5.jpg" width="480" height="540" alt="Exclusivos">
    </div>
 