<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      
      </div>
    <div class="col-2">
      <h1 class="nav-item" class="berkshire-swash-regular">Catálogo</h1>

    </div>

      <div class="col-7">
      
       <ul class="nav justify-content-center ">
        <li class="nav-item ">
          <a class="nav-link text-dark active" [routerLink]="['/Catálogo/Tazas']" routerLinkActive="active">Tazas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Mates']" routerLinkActive="active">Mates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Macetas']" routerLinkActive="active">Macetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Platos']" routerLinkActive="active">Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Adornos']" routerLinkActive="active">Adornos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Recipientes']" routerLinkActive="active">Recipientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Vasos']" routerLinkActive="active">Vasos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/Catálogo/Otros']" routerLinkActive="active">Otros</a>
        </li>

      </ul>
    </div>
  </div>
<h1 class=" berkshire-swash-regular">Recipientes</h1>
<img src="icono recipientes.jpg" width="240" height="240">
<div class= row >
  <div class="col-2" >
<div class="card" style="width: 240;">
    <img src="recipiente 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recipiente 1</h5>
      <p class="card-text">Medidas 15*8</p>
  </div>
   <div class="card-body">
      <a href="#" class="card-link text-dark">Agregar Carrito</a>
      <a href="#" class="card-link text-dark">Cantidad</a>
    </div>
  </div>
</div>
<div class="col-2" >
  <div class="card" style="width: 240;">
    <img src="recipíente 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recipiente 2</h5>
      <p class="card-text">Medidas 15*8</p>
    </div>

   <div class="card-body">
      <a href="#" class="card-link text-dark">Agregar Carrito</a>
      <a href="#" class="card-link text-dark">Cantidad</a>
    </div>
  </div>
  </div>
  <div class="col-2" >
    <div class="card" style="width: 240;">
      <img src="recipiente 3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recipiente 3</h5>
        <p class="card-text">Medidas 15*8</p>
      </div>
  
     <div class="card-body">
        <a href="#" class="card-link text-dark">Agregar Carrito</a>
        <a href="#" class="card-link text-dark">Cantidad</a>
      </div>
    </div>
    </div>
    <div class="col-2" >
      <div class="card" style="width: 240;">
        <img src="recipíente 4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Recipiente 4</h5>
          <p class="card-text">Medidas 15*8</p>
        </div>
    
       <div class="card-body">
          <a href="#" class="card-link text-dark">Agregar Carrito</a>
          <a href="#" class="card-link text-dark">Cantidad</a>
        </div>
      </div>
      </div>
      <div class="col-2" >
        <div class="card" style="width: 240;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recipiente 5</h5>
            <p class="card-text">Medidas 15*8</p>
          </div>
      
         <div class="card-body">
            <a href="#" class="card-link text-dark">Agregar Carrito</a>
            <a href="#" class="card-link text-dark">Cantidad</a>
          </div>
        </div>
        </div>
    </div>
  </div>
