@font-face {
    font-family: 'MiFuente';
    src: url('/public/BerkshireSwash-Regular.ttf');
  }
  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
  